// Custom application specific styles
//--------------------------------------

body {
   background: @appBackgroundColor;
   &.tile-overlay {
    background:transparent;
    #tile-wrapper {
        padding: @baseLineHeight;
    }
   }
}

#site-wrapper {
    background: url(../img/header_content.jpg) 50%  0% no-repeat @appBackgroundColor;
}
#editbar-wrapper + #site-wrapper,
#toolbar + #site-wrapper {
    margin-top: @navbarHeight;
}

// locomotec styles for a custom editbar override of the basic
// twitter bootstarp navbar to make the edit bar look like a
// browser toolbar

#topbar {
    /* background: #ebe3d1;*/
    //background: #f6f3ec;
    #toolbar + nav,
    #editbar-wrapper + nav {
        margin-top: @navbarHeight;
        .navbar-inner {
            .border-radius(0px);
            .container {
                width: @gridRowWidth;
                .container-fixed();
            }
        }
    }
    
/*
   HEADER FRONTPAGE

*/
    #header-frontpage {
      background: url(../img/header_frontpage.jpg) 50%  0% no-repeat transparent ;
      height: 350px;    
      padding: @baseLineHeight;

      #header-box {
        color: #423a38;
        font-weight: bold;
        font-size: 130%;
        line-height:1.5em;
        h1 {
            color: #fcb034;
            text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
        }
      }
      #costum_header {
        height: 110px;
        background: url(../img/divide.png) 0 100px no-repeat transparent;
        #sprach-links li,
        #language-links li {
            margin-left: 10px;
            padding-left: 10px;
            float: right;
            font-weight: bold;
            display: block;
            a {
                color: #423a38;
            }
            a:hover {
                color: #423a38;
            }
        }
        #logo {
            background: url(../img/logo.png) 0 0 no-repeat transparent;
            margin-left: -18px;
            margin-top: -20px;
            width: 35%;
            height: 100px;
            display: block;
            text-indent: -3000px;
            overflow: hidden;
            border: none;
        }
        #main-nav {
            width: 60%;
            float:right;
            text-align: right;
            margin-top: -50px;
                li {
                    color: #423a38;
                    font-size: 120%;
                    text-decoration: none;
                    padding-left: 10px;
                    display: inline-block;
                    a {
                        color: #423a38;
                        font-weight: bold;
                    }
                    a:hover {
                        padding-bottom: 20px;
                        font-size: 150%;
                    }
                }    
            }
        }
    }
/* *
 *    ENDE FRONTPAGE ZEUGS
 *
 **/
    #content-header {
      //height: 350px;    
      padding: @baseLineHeight;

    /* Logo und Navigation*/
      #costum_header {
        height: 100px;
        #sprach-links li,
        #language-links li {
            margin-left: 10px;
            padding-left: 10px;
            float: right;
            font-weight: bold;
            display: block;
            a {
                color: #423a38;
            }
            a:hover {
                color: #423a38;
            }
        }
        #logo {
            background: url(../img/logo.png) 0 0 no-repeat transparent;
            margin-left: -18px;
            width: 35%;
            height: 100px;
            display: block;
            text-indent: -3000px;
            overflow: hidden;
            border: none;
        }
        #main-nav {
            width: 60%;
            float:right;
            text-align: right;
            margin-top: -50px;
            li {                    
                color: #423a38;
                font-size: 120%;
                text-decoration: none;
                padding-left: 10px;
                display: inline-block;
                a {
                    color: #423a38;
                    font-weight: bold;
                }
                a:hover {
                    padding-bottom: 20px;
                    font-size: 150%;
                    background: url(../img/arrow.png) 50% 30px no-repeat transparent;
                }
                a:active {
                    padding-bottom: 20px;
                    font-size: 150%;
                    background: url(../img/arrow.png) 50% 30px no-repeat transparent;
                }
                }  
            }
        }  
    }
}
/*
    FRONTPAGE CONTENT

*/

.special-box {
        a:hover {
            opacity: 0.7;
            text-decoration: none;
        }
    .special-header {
        margin: @baseLineHeight 0;
        padding-top: @baseLineHeight * 6;
        font-weight: bold;
        //color: #e37c00;
        color: #fcb034;
        text-transform: uppercase;
        text-align: center;
        //font-size: @baseFontSize * 2;
        font-size: 24px;
        background: url(../img/Sprite.png) -30px 0px no-repeat transparent;
        &.box-2 {
            background: url(../img/Sprite.png) -280px 0px no-repeat transparent;
        }
        &.box-3 {
            background: url(../img/Sprite.png) -500px 0px no-repeat transparent;
        }
        &.box-4 {
            background: url(../img/Sprite.png) -730px 0px no-repeat transparent;
        }
    }
    .special-content {
        text-align: center;
        p {
            //font-size: @baseFontSize + 2;
            font-size: @baseFontSize - 1;
        }
    }
}

#breadcrumbs {
    padding-bottom: @baseLineHeight;
}

#content {
    h1.documentFirstHeading{
        //width: 940px;
        height: @navbarHeight;
        padding-bottom: @baseLineHeight / 2;
        background: url(../img/divide.png) 0px 100% no-repeat transparent;
        &:before {
            content:"\a0";
            display: block;
            float:left;
            .size(50px, 70px);
            margin-right: @baseLineHeight / 2;
            background: url(../img/Sprite-old.png)  -142px -145px no-repeat transparent;
        }
    }
}

.contentpage-header {
    min-height: @navbarHeight;
    padding-bottom: @baseLineHeight / 2;
    background: url(../img/divide.png) 0px 100% no-repeat transparent;
    &:before {
        content:"\a0";
        display: block;
        float:left;
        .size(50px, 70px);
        margin-right: @baseLineHeight / 2;
        background: url(../img/Sprite-old.png)  -142px -145px no-repeat transparent;
    }
}

#content-core {
    //margin-top: 150px;
    a {
        color: #e37c00;
        font-weight: bold;
        text-decoration: underline;
    }
    ul, li {
        list-style-image: url(../img/arrow_yellow.png);
    }        

    h1.documentFirstHeading {
        background: url(../img/divide.png) 0px 100% no-repeat transparent;
    }
    h2.headline {
        background: url(../img/divide_content.png) 0 45px no-repeat transparent;
        font-size: 140%;
        height: 50px;
        a {
           color: #423a38;
           text-decoration: none;   
        }
    }
    p.lead {
        font-size: @baseFontSize * 1.25;
        line-height: @baseLineHeight * 1.25;
    }
}

.newsitem-preview {
    padding: @baseLineHeight / 2;
    background: url(../img/divide.png) 0px 100% no-repeat transparent;
}

#subnavigation {
    padding: @baseLineHeight 0;
    ul.nav-toc li { 
        text-align: right;
        background: url(../img/divide_small.png) 100% 100% no-repeat transparent;
        padding: @baseLineHeight / 2 0;
        a {
            padding: @baseLineHeight / 2 0;
            color: @textColor;
            font-weight: bold;
        }
        a:hover {
            background: #c0ad97;           
        }
        a:focus {
             background: #c0ad97;
        }

    }
}

#sidebar-wrapper {
    margin-top: @navbarHeight + (@baseLineHeight - 1);
    background: url(../img/divide.png) 0px 0px no-repeat transparent;
}

#newsentry-box {
    margin-left: @baseLineHeight * 2;
    margin-bottom: @navbarHeight;
    .box-header {
        background: url(../img/divide_small.png) 0px 100% no-repeat transparent;
        text-decoration: none;
        height: 50px;
        h4, h3 {
            background: url(../img/Sprite-old.png) -570px -140px no-repeat transparent;
            padding: @baseLineHeight 0 @baseLineHeight @baseLineHeight * 3;
            color: #423a38;
        }
    }
    .box-content {
        padding: @baseLineHeight / 2 0 0 @baseLineHeight / 2;
        background: url(../img/divide_small.png) 0px 100% no-repeat transparent;
        .box-item-meta {
            border-bottom: 1px dashed @gray;
            display: block;
            margin-bottom: 10px;
            position: relative;
            :after {
                content:"\003e";
                .square(@baseLineHeight);
                color: @textColor;
                position: absolute;
                right: 0;
                bottom: -11px;
                text-align: right;
                font-weight: normal;
            }
            a {
                display: block;
                margin: 10px 0px -10px 10px;
                width: auto;
                font-size: @fontSizeSmall;
                font-weight: bold;
                span {
                    display: inline-block;
                    background:@appBackgroundColor;
                }
            }
        }
        h5 a {
            color: @textColor;
            font-weight: normal;
        }
        .discreet {
            font-size: @fontSizeSmall;
            line-height: @baseLineHeight - 4;   
        }
    }
    .box-footer {
        padding: @baseLineHeight / 2 0;
        text-align: right;
        background: url(../img/divide_small.png) 0px 100% no-repeat transparent;
    }
}

#sidebar {
    dl.portletEvents {
        margin-left: 40px;
        margin-bottom: 50px;
        background: url(../img/divide_small.png) 0px 30px no-repeat transparent;
        
        dt.portletHeader a {
            background: url(../img/Sprite-old.png) -570px -140px no-repeat transparent;
            text-decoration: none;
            height: 50px;
            padding-top: 20px;
            padding-left: 60px;
            font-size: 150%;
            color: #423a38;
        }
        dd.portletItem {
            margin-top: 10px;
            margin-bottom: 20px;
            a {
                margin-bottom: 10px;
                color: #e37c00;
                text-decoration: none;
                font-weight: bold;
                &.tile {
                    border-bottom: 1px dashed @gray;
                    display: block;
                    margin-bottom: 10px;
                    position: relative;
                    :after {
                        content:"\003e";
                        .square(@baseLineHeight);
                        color: @textColor;
                        position: absolute;
                        right: 0;
                        bottom: -12px;
                        text-align: right;
                        font-weight: normal;
                    }
                }
            }
            span.portletItemDetails {
                margin-top: 20px;
                margin-bottom: -9px;
                width: auto;
                span {
                    display: inline-block;
                    background:@appBackgroundColor;
                }
            }
        }
    }
    dl.portletStaticText {
        background: url(../img/divide_small.png) 0px 60px no-repeat transparent;
        list-style-image: url(../img/listitem.png);
        margin-left: 40px;
        dt.portletHeader {
            background: url(../img/logo-egomotion.png) 0px 0px no-repeat transparent;
            text-decoration: none;
            height: 40px;
            padding-top: 30px;
            padding-left: 70px;
            font-size: 150%;
            color: #423a38;
            text-indent: -9000px;
            overflow: hidden;
        }
        dd.portletItem {
            a {
                color: #e37c00;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}
.section-aktivitaeten {
    #content h1.documentFirstHeading{
        //width: 940px;
        height: @navbarHeight;
        padding-bottom: @baseLineHeight / 2;
        //margin-top: -70px;
        &:before {
            content:"\a0";
            display: block;
            float:left;
            .size(50px, 70px);
            margin-right: @baseLineHeight / 2;
            background: url(../img/Sprite-old.png)  -285px -145px no-repeat transparent;
        }
    }  
}

.section-vision {
    #content h1.documentFirstHeading{
        //width: 940px;
        height: @navbarHeight;
        padding-bottom: @baseLineHeight / 2;
        //margin-top: -70px;
        &:before {
            content:"\a0";
            display: block;
            float:left;
            .size(50px, 70px);
            margin-right: @baseLineHeight / 2;
            background: url(../img/Sprite-old.png)  0px -145px no-repeat transparent;
        }
    }  
}

.section-wir {
    #content h1.documentFirstHeading{
        //width: 940px;
        height: @navbarHeight;
        padding-bottom: @baseLineHeight / 2;
        //margin-top: -70px;
        &:before {
            content:"\a0";
            display: block;
            float:left;
            .size(50px, 70px);
            margin-right: @baseLineHeight / 2;
            background: url(../img/Sprite-old.png)  -142px -145px no-repeat transparent;
        }
    }  
}

/* kann gelšscht werden, wenn link geupdatet ist */
.section-firma {
    #content h1.documentFirstHeading{
        width: 940px;
        height: 50px;
        padding-top: 30px;
        padding-left: 70px;
        padding-bottom: 10px;
        margin-top: -70px;
    }
}

.section-kooperationen {
    #content h1.documentFirstHeading{
        //width: 940px;
        height: @navbarHeight;
        padding-bottom: @baseLineHeight / 2;
        //margin-top: -70px;
        &:before {
            content:"\a0";
            display: block;
            float:left;
            .size(50px, 70px);
            margin-right: @baseLineHeight / 2;
            background: url(../img/Sprite-old.png)  -405px -145px no-repeat transparent;
        }
    }  
}

/* kann gelšscht werden, wenn link geupdatet ist */
.section-investoren {
    #content h1.documentFirstHeading{
        //width: 940px;
        height: @navbarHeight;
        padding-bottom: @baseLineHeight / 2;
        //margin-top: -70px;
        &:before {
            content:"\a0";
            display: block;
            float:left;
            .size(50px, 70px);
            margin-right: @baseLineHeight / 2;
            background: url(../img/Sprite-old.png)  -405px -145px no-repeat transparent;
        }
    }  
}

div.field span.required:after {
    color: #E37C00;
}

// locomotec styles for a HMTL5 based site footer
#site-footer {
    margin-top: @baseLineHeight;
    padding: @baseLineHeight 0;
/*    border-top: 1px solid @grayLighter; */
    /* background: #ebe3d1;*/
    background: #f6f3ec;
    .divide-footer {
        background:url(../img/divide.png) 50% 0 no-repeat transparent;
        padding-top: @baseLineHeight / 2;
    }
    li {
        margin-left: 15px;
        float: right;
        width: auto;
        display: block;
        a {
            color: #423a38;
        }
        a:hover {
            color: #423a38;
        }
    }
}
